<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Header template</title>
        <link rel="stylesheet" type="text/css" href="../CSS/header.css">
    </head>
    <body>
        <header class="header-wrapper">
            <div class="header-banner">
                <img src="../design/Logo.svg" class="logo"/>
            </div>
        </header>

        <header class="header" id="header">
            <div class="top-nav">
                <a class="title" href="index.html"><h1>Blog</h1></a>
            </div>
            <div class="sub-navbar">
                <div class="bar-ctn">
                    <div class="menu-bars" onclick="toggleSidebar()">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                </div>
                <nav class="nav">
                    <div class="tp-br-ul-wrapper">
                        <ul class="tp-br-ul">
                            <li class="tp-br-li"><a class="header-link" href="./noContent.html">Gaming</a></li>
                            <li class="tp-br-li"><a class="header-link" href="./noContent.html">Nature</a></li>
                            <li class="tp-br-li"><a class="header-link" href="./noContent.html">Politics</a></li>
                            <li class="tp-br-li"><a class="header-link" href="./noContent.html">Sports</a></li>
                            <li class="tp-br-li"><a class="header-link" href="./noContent.html">IT</a></li>
                            <li class="tp-br-li"><a class="header-link" href="./noContent.html">Economy</a></li>
                            <li class="tp-br-li"><a class="header-link" href="./noContent.html">Fashion</a></li>
                            <li class="tp-br-li"><a class="header-link" href="./noContent.html">Lifestyle</a></li>
                            <li class="tp-br-li"><a class="header-link" href="./noContent.html">Culture</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <main>

            <div class="sidebar" id="sideBar">
                <div class="ctn">
                    <div class="menubox"><a href="noContent.html" onclick="toggleSidebar()">ChatGPT-6</a></div>
                    <div class="menubox"><a href="./login.html" onclick="toggleSidebar()" alt="Link to login page">LOGIN</a></div>
                    <div class="menubox"><a href="./register.html" onclick="toggleSidebar()" alt="Link to register page">REGISTER</a></div>
                    <div class="menubox"><a href="noContent.html" onclick="toggleSidebar()">No virus!</a></div>
                    <div class="menubox"><a href="./project_index.html" onclick="toggleSidebar()" alt="Link to project index page">PROJECT INDEX</a></div>
                </div>
            </div>

            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
            <a herf="./index.html">Blog</a>
            <br>
        </main>
    </body>